
WEBAPP_MELB/.vs/config/applicationhost.config
WEBAPP_MELB/.vs/config/applicationhost.config
WEBAPP_MELB/.vs/WEBAPP_MELB/v15/.suo
WEBAPP_MELB/.vs/config/applicationhost.config
WEBAPP_MELB/.vs/config/applicationhost.config
WEBAPP_MELB/.vs/WEBAPP_MELB/v15/.suo
WEBAPP_MELB/.vs/WEBAPP_MELB/v15/Server/sqlite3/storage.ide
WEBAPP_MELB/.vs/WEBAPP_MELB/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
WEBAPP_MELB/.vs/config/applicationhost.config
WEBAPP_MELB/.vs/config/applicationhost.config
WEBAPP_MELB/.vs/config/applicationhost.config
WEBAPP_MELB/.vs/WEBAPP_MELB/v15/.suo
WEBAPP_MELB/.vs/WEBAPP_MELB/v15/Server/sqlite3/storage.ide-wal
WEBAPP_MELB/.vs/WEBAPP_MELB/v15/.suo
WEBAPP_MELB/.vs/WEBAPP_MELB/v15/.suo
WEBAPP_MELB/.vs/config/applicationhost.config
WEBAPP_MELB/.vs/WEBAPP_MELB/v14/.suo
WEBAPP_MELB/WEBAPP_MELB/bin/WEBAPP_MELB.dll
WEBAPP_MELB/WEBAPP_MELB/bin/WEBAPP_MELB.pdb
WEBAPP_MELB/WEBAPP_MELB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WEBAPP_MELB/WEBAPP_MELB/obj/Debug/WEBAPP_MELB.csprojResolveAssemblyReference.cache
WEBAPP_MELB/WEBAPP_MELB/obj/Debug/WEBAPP_MELB.dll
WEBAPP_MELB/WEBAPP_MELB/obj/Debug/WEBAPP_MELB.pdb
