@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>MelB - Modulo Administrador</title>
    <link rel="Shortcut Icon" href="~/Content/favicon.ico" type="image/x-icon" />

    <!-- Boostrap, fuentes e iconos -->
    <link rel="stylesheet" href="~/Scripts/plugins/bootstrap/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/plugins/ionicons/ionicons.min.css">
    <link href="~/Scripts/plugins/fontawesome/font-awesome.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="~/Scripts/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet">

    <link href="~/Scripts/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/SweetAlert/sweetalert2.min.css" rel="stylesheet">
    <link href="~/Scripts/plugins/DataDrop/datedropper.min.css" rel="stylesheet">
    <link href="~/Content/SistemaEstilos.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <!-- Contenedor SideBar-->
        <div class="contentsidebar">
            <!-- Sidebar Holder -->
            <nav id="sidebar" class="active">
                <div class="sidebar-header">
                    <a href="javascript:void(0)">
                        <img style="width:75px;" src="~/Content/assets/Logo.png" />
                    </a>
                </div>
                <ul class="list-unstyled components">
                    <li id="menuinicio">
                        <a href="javascript:void(0)">
                            <i class="glyphicon glyphicon-home"></i>
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="PerfilSubMenu">
                            <i class="glyphicon glyphicon-user"></i> Mi perfil
                        </a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-list-alt"></i> Usuarios
                        </a>
                        <ul class="collapse list-unstyled" aria-expanded="true" id="pageSubmenu">
                            <li id="estudiantessubmenu"><a href="javascript:void(0)">Estudiantes</a></li>
                            <li id="profesoressubmenu"><a href="javascript:void(0)">Profesores</a></li>
                            <li id="administradoressubmenu"><a href="javascript:void(0)">Administradores</a></li>
                        </ul>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-list-alt"></i> Academico
                        </a>
                        <ul class="collapse list-unstyled" aria-expanded="true" id="pageSubmenu">
                            <li id="matriculassubmenu"><a href="javascript:void(0)">Matriculas</a></li>
                            <li id="pagossubmenu"><a href="javascript:void(0)">Pagos</a></li>
                        </ul>
                        <a href="javascript:void(0)" id="inventariosubmenu">
                            <i class="glyphicon glyphicon-file"></i> Inventario
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Page Content Holder - Contenedor NavBar-->
        <div id="content">
            <nav class="navbar navbar-default" id="cabezera_header">
                <div class="container-fluid">

                    <div class="navbar-header" id="Header_Nav">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="ion-navicon-round" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
                        </button>
                        <h3 class="TextNavHeader">Modulo Administrativo</h3>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right" id="Form_Right">
                            <li>
                                <form class="navbar-form navbar-left" role="search">
                                    <button data-toggle="tooltip" data-placement="bottom" title="General reporte en pdf" id="Reporte" type="button" class="btn waves-effect waves-light btn-primary btn-color" onclick="">
                                        <i class="icon ion-android-download" data-pack="default" data-tags="refresh"></i>
                                    </button>

                                    <img id="Perfil" src="@Session["Imagen"].ToString()" class="ImagenPerfil">
                                </form>
                            </li>
                        </ul>
                    </div>                     
                </div>
            </nav>

            <div id="MenuEmergente" class="MenuContextual">
                <div class="TrianguloContextual">
                </div>
                <ul>
                    <li class="LIMenu"><span class="icon ion-power CerrarS"></span><a href="@Url.Action("MatarSesion","Sistema")">Cerrar Sesiòn</a></li>
                </ul>
            </div>

            <div id="Inicio">

            </div>

            <div id="Administrador_Detalle">
                <div class="row RowAdministrador">
                    <div class="panel panel-color panel-danger ">
                        <div class="panel-heading">
                            <i class="icon ion-person" aria-hidden="true"></i>
                            <h3 class="TextoHeader">Mi perfil</h3>
                            <div class="FlotarDerecha">
                                <i class="ion-grid" data-pack="default" data-tags="menu"></i>
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="Switch_Editar_Profesor">
                                    <label class="onoffswitch-label" for="Switch_Editar_Profesor">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img id="Imagen_Profesor" class="img-thumbnail">
                                </div>
                                <div class="col-sm-9 ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="p-20">
                                                <form>
                                                    <div class="form-group">
                                                        <label class="control-label">ID Empleado</label>
                                                        <div class="form-group">
                                                            <input id="ID_Adminisrador" type="text" value="@Session["ID"]" name="ID_Administrador" data-bts-min="1" data-bts-max="2000000" data-bts-mousewheel="true" data-bts-button-down-class="btn waves-effect waves-light btn-primary btn-color" data-bts-button-up-class="btn waves-effect waves-light btn-primary btn-color" disabled />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Nombre</label>
                                                        <div class="input-group m-t-10">
                                                            <input id="Nombre_Administrador" type="text" class="form-control" disabled>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn waves-effect waves-light btn-primary btn-color"><i class="icon ion-person"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Correo electronico</label>
                                                        <div class="input-group m-t-10">
                                                            <input id="Correo_Administrador" type="text" class="form-control" disabled maxlength="25">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn waves-effect waves-light btn-primary btn-color"><i class="icon ion-at"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Telefono #1</label>
                                                        <div class="input-group m-t-10">
                                                            <input id="AdministradorTelefono1" type="text" class="form-control" disabled maxlength="8">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn waves-effect waves-light btn-primary btn-color"><i class="ion-social-whatsapp"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Sexo</label>
                                                        <div class="input-group m-t-10">
                                                            <select id="SexoProfesor" class="selectpicker" data-style="btn-white" disabled>
                                                                <option>M</option>
                                                                <option>F</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="p-20">
                                                <form>

                                                    <div class="form-group">
                                                        <label class="control-label">Cedula</label>
                                                        <div class="input-group m-t-10">
                                                            <input id="AdministradorCedula" type="text" class="form-control" disabled maxlength="14">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn waves-effect waves-light btn-primary btn-color"><i class="icon ion-document-text"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Apellido</label>
                                                        <div class="input-group m-t-10">
                                                            <input id="Apellido_Administrador" type="text" class="form-control" disabled>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn waves-effect waves-light btn-primary btn-color"><i class="icon ion-person"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Dirección</label>
                                                        <div class="input-group m-t-10">
                                                            <input id="AdministradorDireccion" type="text" class="form-control" disabled maxlength="100">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn waves-effect waves-light btn-primary btn-color"><i class="icon ion-home"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Telefono #2</label>
                                                        <div class="input-group m-t-10">
                                                            <input id="AdministradorTelefono2" type="text" class="form-control" maxlength="8" disabled>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn waves-effect waves-light btn-primary btn-color"><i class="ion-social-whatsapp"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Cargo</label>
                                                        <div class="input-group m-t-10">
                                                            <input id="AdministradorCargo" type="text" class="form-control" disabled>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn waves-effect waves-light btn-primary btn-color"><i class="icon ion-android-sunny"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center" id="BotonDatosAdministrador">
                                        <button id="ActualizarProfesor" type="button" class="btn btn-success">
                                            <span class="btn-label"><i class="ion-upload active" data-pack="default" data-tags="storage, cloud"></i></span>Actualizar datos
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div>
                <footer class="footer text-right">
                    © 2018 MelB Versiòn Beta realizada por Oscar Rivera, Reynaldo Oporta y Yader Castillo.
                </footer>
            </div>

        </div>
    </div>

    <script src="~/Scripts/plugins/jquery/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Plugins Boostrap -->
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/plugins/datatables/responsive.bootstrap.min.js"></script>

    <script src="~/Scripts/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Scripts/plugins/DataDrop/datedropper.min.js" type="text/javascript"></script>
    <script src="~/Scripts/plugins/jspdf/jspdf.min.js"></script>
    <script src="~/Scripts/plugins/jspdf/jspdf.plugin.autotable.js"></script>

    <!-- Plugins Alertas -->
    <script src="~/Scripts/plugins\SweetAlert/sweetalert2.min.js"></script>
    <!-- Cargando Boostrap y sus dependencias -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Scripts de MeLB -->
    <script src="~/Scripts/EventosNavegadorAdministrador.js"></script>

</body>
</html>